body {
  font-family: "Roboto", sans-serif;
  background-color: #60b0b9;
  color: #fafafa;
  text-align: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: #2c2c2c; }
  a:hover {
    color: #fafafa;
    text-decoration: underline; }

nav {
  text-align: left; }

section {
  max-width: 1440px;
  margin: 4em auto;
  padding: 0 0.5em; }

table {
  margin: 3em auto;
  width: 100%;
  border-collapse: collapse; }
  table td,
  table th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px dotted #fafafa; }
    table td:first-child,
    table th:first-child {
      text-align: left; }
    table td:last-child,
    table th:last-child {
      text-align: right; }
