a {
  padding: 0;
  font-weight: 500; }

header .logo {
  margin: 8em auto 6em; }
header p {
  max-width: 32em;
  margin: 0 auto;
  padding: 0 0.5em 2em; }

section {
  margin: 3em auto 1em;
  padding: 0.5em;
  max-width: 1200px; }
  section #s-drink th {
    color: #d99e87; }

#s-eat {
  background: rgba(217, 158, 135, 0.1); }

#s-drink {
  background: rgba(127, 185, 191, 0.1); }
  #s-drink th {
    color: #7fb9bf; }

/* eat & drink buttons */
.kaart-keuze {
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 50%;
  /* centreren */
  transform: translateX(-50%);
  margin-top: 2.7em;
  opacity: 0.8; }
  .kaart-keuze a {
    font-size: 1.1em;
    line-height: 1.1em;
    padding: 1.4em 0;
    margin: 0.4em;
    color: #fafafa;
    width: 4em;
    height: 4em;
    border-radius: 2em; }

.keuze-eat {
  background: #d99e87; }

.keuze-drink {
  background: #7fb9bf; }
