/* colors */

:root {
	--black: #2c2c2c;
	--dark-grey: #716f72;
	--medium-grey: #969497;
	--white: #fafafa;
	--orange: #d99e87;
	--red: #c56950;
	--yellow: #eccb83;
	--purple: #a594bd;
	--purple-dark: #9e83c7;
	--blue: #7fb9bf;
	--dark-opacity-01: rgba(113, 111, 114, 0.1);
	--facebook: #1778f2;
	--instagram: #de3964;
	--swiper-theme-color: #fafafa;
}

/* typography */

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--white);
	color: var(--black);
}

h3.page-title-eat {
	color: var(--red);
}

.menu-title {
	display: block;
	padding: 5px 0;
	margin-top: -0.3em; /* remove whitespace between img & .menu-title */
	color: var(--white);
}

.title-svg {
	height: 3em;
}

.menu-title-eat {
	background-color: var(--red);
}

.menu-title-drink {
	background-color: var(--yellow);
}
#ontbijt img {
	margin: 0;
}
.section p {
	margin: 15px auto;
	max-width: 90vw;
}

a {
	text-decoration: none;
	color: var(--dark-grey);
	display: block;
}

.adres a {
	font-weight: 700;
	color: var(--black);
}
.adres a:hover {
	color: var(--orange);
}

a:hover {
	font-weight: 700;
	color: var(--orange);
}

i.fab {
	color: var(--dark-grey);
}

.fa-facebook-square:hover {
	color: var(--facebook);
}

.fa-instagram-square:hover {
	color: var(--instagram);
}

.fa-lightbulb {
	color: var(--medium-grey);
	font-size: 1.5em;
}

.fa-lightbulb:hover {
	color: var(--black);
}

/* layout */

.flex {
	display: flex;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

header {
	max-width: 600px;
	margin: 0 auto;
}

.logo-main {
	text-align: center;
	margin-top: 7em;
}

.section-wrapper {
	text-align: center;
}

.section {
	margin: 4em auto;
	/* padding: 0 0 30px 0; */
}

.section-sfeer {
	width: 100vw;
}

.section-drink,
.section-eat,
.section-takeaway {
	margin: 3em auto;
	max-width: 800px;
}

/* Cards */

.card {
	padding: 2em;
}

.home-intro h2 {
	color: var(--orange);
}

.section-reserveer h2,
.section-takeaway h2 {
	color: var(--orange);
}

.intro-icons {
	max-height: 30px;
	margin: 40px 0 20px;
}

.do-intro h3,
.do-cafe h3,
.do-wunder h3,
.do-kermis h3 {
	color: var(--purple);
}

/* Navigation */

.nav-container {
	position: fixed;
	z-index: 1;
	background: var(--white);
	opacity: 0.9;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* padding: 0.8em 0.8em 0.4em; */
	box-shadow: 0px 0px 5px var(--medium-grey);
}

.topnav {
	overflow: hidden;
	position: relative;
	min-height: 3em;
	min-width: 3em;
}

.topnav #myLinks {
	padding: 1.5em 0 1em 1em;
	display: none;
}

.topnav a {
	color: var(--dark-grey);
	padding-top: 0.8em;
	text-decoration: none;
	display: block;
}

.topnav a.icon {
	display: block;
	position: absolute;
	padding: 0;
	left: 1em;
	top: 1em;
}

.topnav a:hover {
	color: var(--orange);
}

.style-switch {
	text-align: right;
	position: absolute;
	right: 1em;
	top: 1em;
}

/* image slider (swiper.js)  */
.swiper-container {
	width: 100%;
	height: auto;
}

/* Light-mode switch */

.light-switch img {
	height: 2em;
}

.intro {
	padding-bottom: 30px;
}

.img-round {
	max-width: 180px;
	border-radius: 50%;
	margin: 15px;
	transition: all 0.1s ease-in-out;
}

.img-round:hover {
	border: 3px solid var(--blue);
}

footer {
	background-color: var(--medium-grey);
	justify-content: center;
}

.info {
	padding: 2em;
	text-align: center;
	line-height: 2em;
}

footer .fab {
	padding: 0 0.3em 1em;
}

.copyright {
	display: flex;
	justify-content: center;
	font-size: 14px;
	padding-bottom: 1em;
}

.copyright a {
	color: var(--orange);
}

.copyright a:hover {
	font-weight: 700;
}

/* table */

table {
	margin: 3em auto;
	width: 100%;
}

table,
th,
td {
	border-bottom: 1px dotted var(--dark-grey);
	border-collapse: collapse;
}

table td {
	padding: 10px;
	text-align: right;
}
table td:first-child {
	text-align: left;
}

/* Buttons */

button.btn {
	/* inline-block om button even groot dan tekst te houden */
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	margin: 15px 0% 5px;
	margin: 30px 0 15px;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid var(--white);
	outline: 0;
	background: var(--purple);
	color: var(--white);
	cursor: pointer;
	box-shadow: 0px 8px 10px -4px var(--dark-grey);
	transition: color 0.1s ease-in;
}

button.btn:hover {
	background-color: var(--purple-dark);
}

.btn:active {
	box-shadow: none;
	position: relative;
	top: 2px;
	border: 1px solid var(--purple);
}

/* bestelformulier */

.form-row {
	padding: 0.5em;
}

.form-row label {
	text-align: right;
	padding-right: 1em;
}

.form-row input {
	width: 4em;
	height: 2em;
	padding-left: 30px;
}

.bestel-prijs {
	padding-left: 30px;
}

.bestel-subtotaal {
	padding-left: 30px;
}

/* Media queries */

@media screen and (min-width: 768px) {
	.home-detail,
	.do-detail {
		display: flex;
		align-content: space-between;
		margin: 0px auto;
		justify-content: space-evenly;
	}
	.info {
		display: flex;
		justify-content: center;
	}
	.adres {
		flex-basis: 100%;
		text-align: right;
		padding-right: 0.8em;
	}
	.openingsuren {
		flex-basis: 100%;
		text-align: left;
		padding-left: 0.8em;
	}
	.section p {
		max-width: 600px;
	}
}
