body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  color: #716f72;
  text-align: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0.6em 0em; }

a {
  text-decoration: none;
  color: #716f72; }
  a:hover {
    color: #fafafa;
    text-decoration: underline; }

.main-wrapper {
  padding-top: 5em; }

header {
  max-width: 40em;
  margin: 0 auto;
  padding: 0 0.5em; }

.section {
  max-width: 1440px;
  margin: 4em auto;
  padding: 0 0.5em; }
  .section p {
    max-width: 32em;
    margin: 0 auto; }
  .section a:hover {
    color: #c56950; }
  .section-events h1 {
    color: #7fb9bf; }
  .section-takeaway h1 {
    color: #c56950; }
  .section-reserveer h1 {
    color: #c56950; }
  .section-shop h1 {
    color: #c56950; }

.toggleMenu {
  text-align: center; }

.toggle-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 1em; }
  .toggle-wrapper .toggle-eat-txt {
    color: #d99e87; }
  .toggle-wrapper .toggle-drink-txt {
    color: #7fb9bf; }

input[name='toggle'] {
  display: none; }

input[name='toggle'] + .toggleMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; }

input[name='toggle']:checked + .toggleMenu {
  max-height: 100%; }

.fas {
  padding: 0 0.6em; }

.fa-hamburger {
  color: #d99e87; }
  .fa-hamburger:hover {
    text-shadow: 0px 0px 3px #d99e87;
    cursor: pointer;
    color: #cd7f60; }

.fa-glass-martini-alt {
  color: #7fb9bf; }
  .fa-glass-martini-alt:hover {
    text-shadow: 0px 0px 3px #7fb9bf;
    cursor: pointer;
    color: #5da6ae; }

.menu-heading {
  height: 100%; }
  .menu-heading h3 {
    margin: 0 auto;
    padding-bottom: 0.2em;
    color: #fafafa; }
  .menu-heading.menu-heading-eat {
    background-color: #d99e87; }
  .menu-heading.menu-heading-drink {
    background-color: #7fb9bf; }

/* image slider (swiper.js)  */
.swiper-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    color: #fafafa; }

.card-wrapper {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card-wrapper .card {
    max-width: 18em;
    background-color: rgba(127, 185, 191, 0.1);
    margin: 0.6em;
    padding: 0 0 0.3em 0;
    border-radius: 2%; }
    .card-wrapper .card img {
      border-bottom: 0.3em solid #7fb9bf; }
    .card-wrapper .card h3 {
      color: #7fb9bf; }
  .card-wrapper .card-txt {
    padding: 1em; }
  @media screen and (min-width: 768px) {
    .card-wrapper {
      flex-direction: row;
      justify-content: center; } }

footer {
  background-color: #2c2c2c; }
  footer p {
    color: #fafafa; }
  footer a {
    color: #c56950; }

.fab {
  color: #fafafa; }

.fa-facebook-square:hover {
  color: #1778f2; }

.fa-instagram-square:hover {
  color: #de3964; }

.fa-lightbulb:hover {
  color: #2c2c2c; }

.googleMap {
  width: 100%;
  height: 20em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(150, 148, 151, 0.3);
  -moz-box-shadow: 0px 0px 6px 0px rgba(150, 148, 151, 0.3);
  box-shadow: 0px 0px 6px 0px rgba(150, 148, 151, 0.3); }

.social {
  display: flex;
  justify-content: center; }
  .social a {
    padding: 0.9em 0.3em; }

.copyright {
  padding-bottom: 1em;
  font-size: 0.8em; }

.nav-container {
  position: fixed;
  z-index: 2;
  background: #fafafa;
  opacity: 0.9;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 5px #969497; }

.topnav {
  overflow: hidden;
  position: relative;
  min-height: 3em;
  min-width: 3em; }
  .topnav #links {
    padding: 0em 0 1em 1em;
    display: none;
    text-align: justify; }
  .topnav a {
    color: #716f72;
    padding-top: 0.8em;
    text-decoration: none;
    display: block; }
    .topnav a:hover {
      color: #c56950; }
  .topnav a.icon {
    display: block;
    position: absolute;
    padding: 0;
    left: 1em;
    top: 1em; }

.style-switch {
  text-align: right;
  position: absolute;
  right: 1em;
  top: 1em; }

table {
  margin: 3em auto;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse; }
  table td {
    border-top: 1px dotted #716f72;
    text-align: left;
    padding: 10px; }
    table td:last-child {
      text-align: right; }
    table td:nth-child(2) {
      width: 50%; }
  table th {
    text-align: left;
    padding: 10px; }
    table th:last-child {
      text-align: right; }
    table th:nth-child(2) {
      width: 50%; }

form {
  text-align: left;
  display: flex;
  flex-direction: column; }
  form input[type='text'] {
    margin-bottom: 0.5em; }
