html,
body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    color: #716f72;
}

.container {
    display: grid;
    margin: 0 auto;
    max-width: 90vw;
    height: 100%;
    grid-template-areas: "header header header" "nav main right" "footer footer footer";
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 160px 1fr 120px;
    gap: 1rem;
}

.container>div {
    /* border: 1px dashed #888; */
}

.header {
    text-align: center;
    grid-area: header;
    padding: 1rem;
}

.nav {
    grid-area: nav;
    text-align: right;
    /* position: fixed;
    top: 200px; */
}

.main {
    grid-area: main;
    text-align: center;
    margin: 0;
}

.main>h1 {
    font-size: 18px;
}

section>div {
    margin: 0 auto 4rem;
}

.right {
    grid-area: right;
    text-align: left;
}

.footer {
    grid-area: footer;
    text-align: center;
}

.cardset-3 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.card-3,
.card-1 {
    padding: 1rem;
}

.circle {
    border-radius: 100%;
    transition: all 0.3s;
}

.circle:hover {
    border-radius: 100%;
    transform: scale(1.1);
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

#testicard h5 {
    color: #d99e87;
    text-align: right;
}


/* Needs Quote tag!! */


/* #testicard p::before {
    content: '"';
    position: relative;
    top: -5px;
    font-size: 1em;
    color: #d99e87;
}

#testicard p::after {
    content: '"';
    position: relative;
    bottom: 5px;
    font-size: 1em;
    color: #d99e87;
} */

ul {
    margin: 0 auto;
}

ul>li {
    list-style-type: none;
}

ul>li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #716f72;
}


/* ul>li a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: #716f72;
} */

.icon-btn {
    transition: all 0.3s;
}

.icon-btn:hover {
    transform: scale(1.1);
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}