$black: #2c2c2c;
$dark: #716f72;
$medium: #969497;
$white: #fafafa;

$red: #c56950;
$orange: #d99e87;
$yellow: #eccb83;
$purple: #a594bd;
$indigo: #9e83c7;
$blue: #7fb9bf;
$blue-op-01: rgba(127, 185, 191, 0.1);
$dark-op-01: rgba(113, 111, 114, 0.1);
$facebook: #1778f2;
$instagram: #de3964;
$swiper-theme-color: #fafafa;

$font-main: 'Roboto', sans-serif;

body {
	font-family: $font-main;
	background-color: $white;
	color: $dark;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	margin: 0.6em 0em;
}

a {
	text-decoration: none;
	color: $dark;
	// display: block;
	&:hover {
		color: $white;
		text-decoration: underline;
	}
}

.main-wrapper {
	padding-top: 5em;
}

header {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 0.5em;
}
.section {
	max-width: 1440px;
	margin: 4em auto;
	padding: 0 0.5em;
	& p {
		max-width: 32em;
		margin: 0 auto;
	}
	& a {
		&:hover {
			color: $red;
		}
	}

	&-events {
		& h1 {
			color: $blue;
		}
	}
	&-takeaway {
		& h1 {
			color: $red;
		}
	}
	&-reserveer {
		& h1 {
			color: $red;
		}
	}
}

// Menu

.toggleMenu {
	text-align: center;
}
.toggle-wrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 1em;
	& .toggle-eat-txt {
		color: $orange;
	}
	& .toggle-drink-txt {
		color: $blue;
	}
}

input {
	display: none;
}

input[name='toggle'] + .toggleMenu {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}

input[name='toggle'] {
	&:checked + .toggleMenu {
		max-height: 100%;
	}
}

.fas {
	padding: 0 0.6em;
}
.fa-hamburger {
	color: $orange;
	&:hover {
		text-shadow: 0px 0px 3px $orange;
		cursor: pointer;
		color: darken($orange, 10%);
	}
}
.fa-glass-martini-alt {
	color: $blue;
	&:hover {
		text-shadow: 0px 0px 3px $blue;
		cursor: pointer;
		color: darken($blue, 10%);
	}
}

.menu-heading {
	height: 100%;
	& h3 {
		margin: 0 auto;
		padding-bottom: 0.2em;
		color: $white;
	}
	&.menu-heading-eat {
		background-color: $orange;
	}
	&.menu-heading-drink {
		background-color: $blue;
	}
}

/* image slider (swiper.js)  */
.swiper-container {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	& .swiper-button-next,
	.swiper-button-prev {
		color: $white;
	}
}

.card-wrapper {
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	& .card {
		max-width: 18em;
		background-color: $blue-op-01;
		margin: 0.6em;
		padding: 0 0 0.3em 0;
		border-radius: 2%;
		& img {
			border-bottom: 0.3em solid $blue;
		}
		& h3 {
			color: $blue;
		}
	}
	& .card-txt {
		padding: 1em;
	}
	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: center;
	}
}

footer {
	background-color: $black;
	& p {
		color: $white;
	}
	& a {
		color: $red;
	}
}

.fab {
	color: $white;
}

.fa-facebook-square {
	&:hover {
		color: $facebook;
	}
}

.fa-instagram-square {
	&:hover {
		color: $instagram;
	}
}

.fa-lightbulb {
	&:hover {
		color: $black;
	}
}

.googleMap {
	width: 100%;
	height: 20em;
	margin-bottom: 1em;
	-webkit-box-shadow: 0px -3px 6px 0px rgba(150, 148, 151, 0.3);
	-moz-box-shadow: 0px -3px 6px 0px rgba(150, 148, 151, 0.3);
	box-shadow: 0px -3px 6px 0px rgba(150, 148, 151, 0.3);
}

.social {
	display: flex;
	justify-content: center;
	& a {
		padding: 0.9em 0.3em;
	}
}
.copyright {
	padding-bottom: 1em;
	font-size: 0.8em;
}

// Navigation

.nav-container {
	position: fixed;
	z-index: 2;
	background: $white;
	opacity: 0.9;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 0px 5px $medium;
}

.topnav {
	overflow: hidden;
	position: relative;
	min-height: 3em;
	min-width: 3em;
	#links {
		padding: 0em 0 1em 1em;
		display: none;
		text-align: justify;
	}
	a {
		color: $dark;
		padding-top: 0.8em;
		text-decoration: none;
		display: block;
		&:hover {
			color: $red;
		}
	}
	a.icon {
		display: block;
		position: absolute;
		padding: 0;
		left: 1em;
		top: 1em;
	}
}

.style-switch {
	text-align: right;
	position: absolute;
	right: 1em;
	top: 1em;
}

// Table

table {
	margin: 3em auto;
	width: 100%;
	border-collapse: collapse;
	td {
		padding: 10px;
		text-align: right;
		border-bottom: 1px dotted $medium;
		&:first-child {
			text-align: left;
		}
	}
}
