/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  text-decoration: none;
  color: #333;
}

.mainmenu a:hover {
  font-weight: bold;
}

/* when hovering, reveal submenu */
.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.submenu a {}

.submenu a:hover {}
