.main-menu a {
	display: block;
	text-decoration: none;
	color: #333;
}

.main-menu a:hover {
	font-weight: bold;
}

.main-menu li:hover .sub-menu {
	display: block;
	max-height: 200px;
}

.sub-menu {
	overflow: hidden;
	max-height: 0;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
