/* make ALL links (main and submenu) have padding and background color */

.main-menu a {
    display: block;
    text-decoration: none;
    color: #333;
}

.main-menu a:hover {
    font-weight: bold;
}


/* when hovering, reveal submenu */

.main-menu li:hover .sub-menu {
    display: block;
    max-height: 200px;
}


/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/

.sub-menu {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}