/* colors */

:root {
    --black: #1d1c1d;
    --dark-grey: #716f72;
    --medium-grey: #cccccc;
    --white: #fafafa;
    --orange: #d99e87;
    --red: #c56950;
    --yellow: #eccb83;
    --purple: #a594bd;
    --blue: #7fb9bf;
    --dark-opacity-01: rgba(113, 111, 114, 0.1);
    --facebook: #1778f2;
    --instagram: #de3964;
}


/* typography */

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

.section h3 {
    color: var(--orange);
}

.section p {
    margin: 15px auto;
    max-width: 60%;
    /* text-align: center; */
}

a {
    text-decoration: none;
    color: var(--white);
    display: block;
}

a.active {
    color: var(--orange);
}

i.fab {
    color: var(--white);
}

.fa-facebook-square:hover {
    color: var(--facebook);
}

.fa-instagram-square:hover {
    color: var(--instagram);
}

.fa-lightbulb {
    color: var(--medium-grey);
    margin-left: 10px;
}


/* layout */

.flex {
    display: flex;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
}

.switch-wrapper {
    color: var(--medium-grey);
    justify-content: flex-end;
    align-items: center;
}

header {
    justify-content: space-between;
    height: auto;
    margin: 30px auto;
}

.header-25 {
    width: 25%;
}

.header-50 {
    width: 50%;
}

.navbar {
    flex-direction: column;
}

.logo {
    justify-content: center;
    align-items: center;
}

.social {
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
}

.section-wrapper {
    text-align: center;
}

.section {
    padding: 40px 0;
}

.section.section-do {
    background-color: var(--dark-opacity-01);
}

.section.section-bestel {
    background-color: var(--dark-opacity-01);
}

.home-detail {
    justify-content: space-between;
}

.intro {
    padding-bottom: 30px;
}

.img-round {
    border-radius: 50%;
}

footer {
    padding: 30px;
    background-color: var(--dark-opacity-01);
    justify-content: center;
}

.map {
    margin-right: 30px;
}