/* colors */
:root {
  --black: #1D1C1D;
  --dark-grey: #716F72;
  --medium-grey: #CCCCCC;
  --white: #FAFAFA;
  --orange: #D99E87;
  --red: #C56950;
  --yellow: #ECCB83;
  --purple: #A594BD;
  --blue: #7FB9BF;
  --dark-opacity-01: rgba(113, 111, 114, 0.1);
  --facebook: #1778f2;
  --instagram: #de3964;
}

/* typography */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

a.active {
  color: var(--orange);
}

i.fab {
  color: var(--white);
}

.fa-facebook-square:hover {
  color: var(--facebook);
}

.fa-instagram-square:hover {
  color: var(--instagram);
}

fa.lightbulb {
  color: var(--medium-grey);
}

/* layout */
.flex {
  display: flex;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.switch-wrapper {}

header {
  justify-content: space-between;
  height: auto;
  margin: 30px auto;
}

.header-25 {
  width: 25%;
}

.header-50 {
  width: 50%;
}

.navbar {
  flex-direction: column;
}

.logo {
  justify-content: center;
  align-items: center;
}

.social {
  text-align: right;
  justify-content: flex-end;
  flex-direction: column;
}

.section-wrapper {
  text-align: center;
}

.section-wrapper div:nth-of-type(even) {
  background-color: var(--dark-opacity-01);
}

footer {
  padding: 30px;
  background-color: var(--dark-opacity-01);
  justify-content: space-between;
}
